@import url("https://fonts.googleapis.com/css2?family=Asap:wght@400;500;600;700&display=swap");

$font-stack: "Asap", sans-serif;

$clr-primary: #18a0fb;
$clr-primary-tint: #e1f3ff;
$clr-primary-tint-2: #8ed2ff;
$clr-primary-hover: #3aaefc;

$clr-seconday: #222;

$clr-black: #222;
$clr-white: #fff;
$clr-gray: #a1a1a1;
$clr-gray-tint: #d4d4d4;
$clr-gray-tint-2: #f2f2f2;
